@import '../../../styles/settings.scss';

.mobileNav {
  color: #fff;
  display: flex;
  align-items: center;

  .mobileList {
    color: #fff;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    z-index: 99999;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translateX(100vw);

    .wrapper {
      background: #fff;
      color: $background;
      height: 100%;
      width: 100vw;
      z-index: 111;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .singleLink {
        margin: 30px;

        a {
          text-decoration: none;
          color: $background;
        }
      }
    }
  }
}

.hidden {
  animation: hideNav .7s;
}

@keyframes displayNav {
  from{width: 0}
  to{width: 100vw}
}

@keyframes hideNav {
  from{height: 100vh;}
  to{height: 0;}
}
