@import '../../../styles/settings.scss';

.header {
  position: absolute;
  top: 0;
  left: 0;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 22;

  .wrapper {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
