@import '../../../styles/settings.scss';

.about {

  .wrapper {
    background: $primary;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1 {
      color: #fff;
      font-size: 50px;
    }

    .boxWrapper {
      width: 70%;
      display: flex;
      justify-content: center;
      align-content: center;
      flex-wrap: wrap;

      .box {
        width: 50%;
        min-width: 300px;
        padding: 30px 0 30px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .photo {
          width: 160px;
          height: 160px;
          border-radius: 100%;

          img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            border-radius: 100%;

          }
        }

        .text {
          width: 100%;
          padding: 0 20px;
          text-align: center;

          title {
            padding: 20px 0 20px 0;
            display: flex;
            justify-content: center;
            color: #fff;
          }
          p {
            line-height: 45px;
          }

          button {
            outline: none;
            background: none;
            color: #fff;
            box-shadow: 0;
            border: 2px solid $background;
            padding: 14px;
          }
          button:hover {
            cursor: pointer;
          }
        }
      }
    }

  }
  .start {
    height: 100px;
    width: 100%;
    background: $primary;
    z-index: 111;
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  }

  .end {
    position: sticky;
    display: block;
    height: 100px;
    width: 100%;
    background: $primary;
    z-index: 111;
    clip-path: polygon(100% 0, 0 0, 100% 100%);
  }
}

@media (max-width: 900px) {
  .about {
    .wrapper {
      .boxWrapper {
        width: 100%;
      }
    }
  }
}

@media (max-width: 450px) {
  .about {
    .wrapper {
      .boxWrapper {
        .box {
          min-width: 0;
          width: 100%;
        }
      }
    }
  }
}
