@import '../../../styles/settings.scss';

.services {
  position: relative;
  background: url('background.jpg') center no-repeat;
  background-size: cover;
  margin: -100px 0 0 0;

  .startServices {
    height: 100px;
    width: 100%;
    position: sticky;
    background: $background;
    z-index: 111;
    clip-path: polygon(0 0, 100% 100%, 100% 0);
  }

  .iconWrapper {
    width: 100%;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;

    .wrapper {
      width: 80%;
      margin-top: -100px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      z-index: 22;

      title {
        margin: 0 0 40px 0;
        display: block;
        color: #fff;
      }

      .iconBox {
        width: 80%;
        display: flex;
        justify-content: space-around;

        .singleIcon {
          width: 25%;
          height: 150px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;

          .icon {
            width: 110px;
            height: 110px;
            border-radius: 100%;
            border: 6px solid $background;

            img {
              object-fit: cover;
              width: 100%;
              height: 100%;
              border-radius: 80px;
            }
          }

          .iconActive {
            cursor: pointer;
            border-color: $primary;
          }

          h3 {
            text-align: center;
            color: #fff;
            font-weight: 600;
          }

        }
      }

      .description {
        height: 200px;
        padding: 40px;
        z-index: 22;
        color: #fff;
        text-align: center;
        font-weight: 600;
        autoAlpha: 0;
      }
    }
  }

  .none {
    display: none;
  }
}

.services::after {
  content: "";
  opacity: 0.75;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $background;
}
